* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    padding: 10px;
}

h1 {
    margin: 10px 0 20px 10px
}

nav {
    background-color: whitesmoke;
    font-size: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

p {

    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

label, input {
    font-size: 20px;
}

.books-container {
    /* border: 2px solid black; */
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    width: 250px;
}

.book-title {
    font-size: 16px;
}